
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.content {
    max-width: 100%;
    color: #555;

}
.content h2 {
    font-size: 4em;
}
.content h2 span {
    color: #7d2ae8;
}
.content h4 {
    font-size: 3em;
}
.content p {
    padding: 10px 0 40px 0;
    font-size: 2em;
}
.btn-group a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.btn-group a:hover:nth-child(1) {
    color: #7d2ae8;
    background: transparent;
    margin-left: 30px;
}
.btn-group a:nth-child(2) {
    color: #7d2ae8;
    background: transparent;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 30px;
}
.btn-group a:hover:nth-child(2) {
    color: #fff;
    background: #7d2ae8;
    margin-left: 30px;
}



